.osd-window, .info-osd, .workspace-osd, .overview-empty-placeholder, .menu-applications-inner-box StScrollView, .starkmenu-favorites-box .menu-context-menu, .menu-context-menu, .popup-sub-menu, .panel-top, .panel-bottom .window-list-item-box, .sound-player-overlay, .workspace-graph .workspace, #LookingGlassDialog, .switcher-list, .window-caption, .expo-background, .expo-workspaces-name-entry {
  background-gradient-direction: vertical;
  background-gradient-start: #3b3e3f;
  background-gradient-end: #3b3e3f; }

.panel-bottom .window-list-item-box:hover {
  background-gradient-direction: vertical;
  background-gradient-start: #3e4142;
  background-gradient-end: #3e4142; }

.sound-player StButton, .keyboard-key, .notification-button, .notification-icon-button, .modal-dialog-button {
  background-gradient-direction: vertical;
  background-gradient-start: #cf0a0a;
  background-gradient-end: #cf0a0a; }

.sound-player StButton:hover, .keyboard-key:hover, .notification-button:hover, .notification-icon-button:hover, .modal-dialog-button:hover {
  background-gradient-direction: vertical;
  background-gradient-start: #d90b0b;
  background-gradient-end: #d90b0b; }

.panel-top .window-list-item-box, .panel-bottom {
  background-gradient-direction: vertical;
  background-gradient-start: #3b3e3f;
  background-gradient-end: #3b3e3f; }

.panel-top .window-list-item-box:hover {
  background-gradient-direction: vertical;
  background-gradient-start: #3e4142;
  background-gradient-end: #3e4142; }

.sound-player StButton:active, .keyboard-key:active, .notification-button:active, .notification-icon-button:active, .modal-dialog-button:active, .modal-dialog-button:pressed, .panel-bottom .window-list-item-box:active, .panel-bottom .window-list-item-box:checked, .panel-bottom .window-list-item-box:focus, .panel-bottom .window-list-item-box:running, .workspace-graph .workspace:active, .calendar-today, .switcher-list .item-box:selected, .window-caption:focus, .window-caption#selected, .expo-workspaces-name-entry#selected {
  background-gradient-direction: vertical;
  background-gradient-start: #3691ff;
  background-gradient-end: #3691ff; }

.panel-top .window-list-item-box:active, .panel-top .window-list-item-box:checked, .panel-top .window-list-item-box:focus, .panel-top .window-list-item-box:running {
  background-gradient-direction: vertical;
  background-gradient-start: #3691ff;
  background-gradient-end: #3691ff; }

.panel-bottom .window-list-item-box:active:hover, .panel-bottom .window-list-item-box:checked:hover, .panel-bottom .window-list-item-box:focus:hover, .panel-bottom .window-list-item-box:running:hover {
  background-gradient-direction: vertical;
  background-gradient-start: #4599ff;
  background-gradient-end: #4599ff; }

.panel-top .window-list-item-box:active:hover, .panel-top .window-list-item-box:checked:hover, .panel-top .window-list-item-box:focus:hover, .panel-top .window-list-item-box:running:hover {
  background-gradient-direction: vertical;
  background-gradient-start: #4599ff;
  background-gradient-end: #4599ff; }

.desklet-with-borders, .desklet-with-borders-and-header, .desklet-header, .photoframe-box, .menu, .popup-combo-menu, .menu-favorites-box, .menu-applications-inner-box, .menu-applications-outer-box, .panel-left, .panel-right .window-list-item-box, .window-list-preview, .grouped-window-list-thumbnail-menu, #notification, .modal-dialog {
  background-gradient-direction: horizontal;
  background-gradient-start: #3b3e3f;
  background-gradient-end: #3b3e3f; }

.panel-left .window-list-item-box, .panel-right {
  background-gradient-direction: horizontal;
  background-gradient-start: #3b3e3f;
  background-gradient-end: #3b3e3f; }

.panel-right .window-list-item-box:hover {
  background-gradient-direction: horizontal;
  background-gradient-start: #3e4142;
  background-gradient-end: #3e4142; }

.panel-left .window-list-item-box:hover {
  background-gradient-direction: horizontal;
  background-gradient-start: #3e4142;
  background-gradient-end: #3e4142; }

.panel-right .window-list-item-box:active, .panel-right .window-list-item-box:checked, .panel-right .window-list-item-box:focus, .panel-right .window-list-item-box:running {
  background-gradient-direction: horizontal;
  background-gradient-start: #3691ff;
  background-gradient-end: #3691ff; }

.panel-left .window-list-item-box:active, .panel-left .window-list-item-box:checked, .panel-left .window-list-item-box:focus, .panel-left .window-list-item-box:running {
  background-gradient-direction: horizontal;
  background-gradient-start: #3691ff;
  background-gradient-end: #3691ff; }

.panel-right .window-list-item-box:active:hover, .panel-right .window-list-item-box:checked:hover, .panel-right .window-list-item-box:focus:hover, .panel-right .window-list-item-box:running:hover {
  background-gradient-direction: horizontal;
  background-gradient-start: #4599ff;
  background-gradient-end: #4599ff; }

.panel-left .window-list-item-box:active:hover, .panel-left .window-list-item-box:checked:hover, .panel-left .window-list-item-box:focus:hover, .panel-left .window-list-item-box:running:hover {
  background-gradient-direction: horizontal;
  background-gradient-start: #4599ff;
  background-gradient-end: #4599ff; }

#menu-search-entry, #notification StEntry, .run-dialog-entry, #Tooltip {
  background-gradient-direction: vertical;
  background-gradient-start: #3b3e3f;
  background-gradient-end: #3b3e3f; }

.osd-window, .info-osd, .workspace-osd, .overview-empty-placeholder {
  border: 1px solid #a1a2a3;
  border-radius: 10px;
  color: #e5e5e5; }

.slider, .popup-slider-menu-item, .sound-player .slider {
  height: 1.2em;
  min-width: 15em;
  color: #cf0a0a;
  -slider-height: 2px;
  -slider-background-color: #2f3132;
  -slider-border-color: rgba(229, 229, 229, 0.22);
  -slider-active-background-color: #3780d9;
  -slider-active-border-color: #3782dc;
  -slider-border-width: 1px;
  -slider-border-radius: 10px;
  -slider-handle-radius: 8px;
  -slider-handle-border-color: rgba(255, 255, 255, 0.22); }

.separator, .popup-separator-menu-item {
  -gradient-height: 3px;
  -gradient-start: #3691ff;
  -gradient-end: #3b3e3f;
  -margin-horizontal: 4px;
  height: 1em; }

#menu-search-entry, #notification StEntry, .run-dialog-entry {
  padding: 5px;
  border-radius: 10px;
  color: #e5e5e5;
  border: 1px solid rgba(229, 229, 229, 0.22);
  selection-background-color: #3691ff;
  selected-color: #ffffff;
  caret-color: #ffcc00;
  caret-size: 0.1em;
  width: 250px;
  height: 1.5em;
  transition-duration: 150; }

.desklet-with-borders, .desklet-with-borders-and-header, .desklet-header, .photoframe-box {
  color: #e5e5e5;
  padding: 8px;
  border: 1px solid #a1a2a3; }

.calendar-change-month-back, .calendar-change-month-forward {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  transition-duration: 150; }

.sound-player StButton, .keyboard-key, .notification-button, .notification-icon-button, .modal-dialog-button {
  border: 1px solid rgba(255, 255, 255, 0.22);
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  transition-duration: 150; }

.sound-player StButton:hover, .keyboard-key:hover, .notification-button:hover, .notification-icon-button:hover, .modal-dialog-button:hover {
  border: 1px solid #3782dc; }

.sound-player StButton:active, .keyboard-key:active, .notification-button:active, .notification-icon-button:active, .modal-dialog-button:active, .modal-dialog-button:pressed {
  color: #ffffff; }

.menu, .popup-combo-menu {
  padding: 8px;
  border: 1px solid #a1a2a3;
  border-radius: 10px;
  color: #e5e5e5; }

.menu-application-button-label:ltr, .menu-category-button-label:ltr {
  padding-left: 4px; }

.menu-application-button-label:rtl, .menu-category-button-label:rtl {
  padding-right: 4px; }

.popup-menu-item, .popup-combobox-item, .menu-favorites-button, .menu-application-button, .menu-application-button-selected, .menu-category-button, .menu-category-button-greyed, .menu-category-button-selected {
  padding: 5px; }

.show-processes-dialog-subject, .mount-question-dialog-subject {
  font-weight: bold;
  color: #e5e5e5;
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 6px; }

.show-processes-dialog-subject:rtl, .mount-question-dialog-subject:rtl {
  padding-left: 0;
  padding-right: 17px; }

.show-processes-dialog-description, .mount-question-dialog-description {
  color: #e5e5e5;
  padding-left: 17px;
  width: 28em; }

.menu-applications-inner-box StScrollView, .starkmenu-favorites-box .menu-context-menu, .menu-context-menu {
  padding: 8px;
  margin: 8px 0;
  border-radius: 10px;
  border: 1px solid rgba(229, 229, 229, 0.22); }
  .menu-applications-inner-box StScrollView StIcon:ltr, .menu-context-menu StIcon:ltr {
    padding-right: 4px; }
  .menu-applications-inner-box StScrollView StIcon:rtl, .menu-context-menu StIcon:rtl {
    padding-left: 4px; }

.panel-top .window-list-item-box:active, .panel-top .window-list-item-box:checked, .panel-top .window-list-item-box:focus, .panel-top .window-list-item-box:running {
  color: #ffffff; }

.panel-bottom .window-list-item-box:active, .panel-bottom .window-list-item-box:checked, .panel-bottom .window-list-item-box:focus, .panel-bottom .window-list-item-box:running {
  color: #ffffff; }

.panel-left .window-list-item-box:active, .panel-left .window-list-item-box:checked, .panel-left .window-list-item-box:focus, .panel-left .window-list-item-box:running {
  color: #ffffff; }

.panel-right .window-list-item-box:active, .panel-right .window-list-item-box:checked, .panel-right .window-list-item-box:focus, .panel-right .window-list-item-box:running {
  color: #ffffff; }

.check-box StBin, .check-box:focus StBin {
  width: 16px;
  height: 16px;
  background-image: url(assets/checkbox-off.svg); }

.radiobutton StBin, .radiobutton:focus StBin {
  width: 16px;
  height: 16px;
  background-image: url(assets/radiobutton-off.svg);
  border-radius: 10px; }

.tile-preview, .tile-hud {
  background-color: rgba(59, 62, 63, 0.5);
  border: 2px solid #a1a2a3; }

.tile-preview.snap, .tile-hud.snap {
  background-color: rgba(59, 62, 63, 0.5);
  border: 2px solid #3782dc; }

stage {
  font-family: roboto, Noto Sans, sans, sans-serif;
  font-size: 1em; }

.cinnamon-link {
  color: #285bff;
  font-style: italic; }
  .cinnamon-link:hover {
    color: #ffffff; }

.label-shadow {
  color: rgba(0, 0, 0, 0.5); }

StScrollBar {
  padding: 2px; }
  StScrollBar StButton#vhandle {
    background-color: #c3c4c4;
    border-radius: 10px; }
    StScrollBar StButton#vhandle:hover {
      background-color: #3780d9; }
  StScrollBar StButton#hhandle {
    background-color: #c3c4c4;
    border-radius: 10px; }
    StScrollBar StButton#hhandle:hover {
      background-color: #3780d9; }
  StScrollBar StBin#trough {
    background-color: #2f3132;
    border-radius: 10px; }

StScrollView.vfade {
  -st-vfade-offset: 68px; }

StScrollView.hfade {
  -st-hfade-offset: 68px; }

StScrollView StScrollBar {
  min-width: 0.8em;
  min-height: 0.8em; }

.check-box CinnamonGenericContainer {
  spacing: .2em; }

.check-box:focus:checked StBin {
  background-image: url(assets/checkbox.svg); }

.check-box StLabel {
  font-weight: normal; }

.check-box:checked StBin {
  background-image: url(assets/checkbox.svg); }

.radiobutton CinnamonGenericContainer {
  spacing: .2em;
  height: 18px;
  padding-top: 2px; }

.radiobutton:focus:checked StBin {
  background-image: url(assets/radiobutton.svg); }

.radiobutton StLabel {
  padding-top: 4px;
  font-size: 0.8em;
  box-shadow: none; }

.radiobutton:checked StBin {
  background-image: url(assets/radiobutton.svg); }

#Tooltip {
  padding: 5px 8px;
  color: #e5e5e5;
  text-align: center;
  border-radius: 10px; }

.menu {
  min-width: 100px;
  margin: 4px; }

.popup-menu-arrow {
  icon-size: 1.14em; }

.popup-sub-menu {
  border: 1px solid rgba(229, 229, 229, 0.22);
  border-radius: 10px;
  padding: 8px; }

.popup-menu-content {
  padding: 0; }

.popup-menu-item {
  color: #e5e5e5;
  spacing: .5em; }
  .popup-menu-item:active {
    background-color: #3691ff;
    border-radius: 10px;
    color: #ffffff; }
  .popup-menu-item:insensitive {
    font-style: italic; }

.popup-separator-menu-item {
  -gradient-direction: horizontal; }

.popup-device-menu-item {
  spacing: .5em; }

.popup-inactive-menu-item {
  font-style: italic;
  color: #e5e5e5; }

.popup-subtitle-menu-item {
  font-weight: bold;
  font-size: 1em; }

.popup-menu-icon {
  icon-size: 1.14em; }

.popup-alternating-menu-item:alternate {
  font-weight: bold; }

.toggle-switch {
  width: 64px;
  height: 22px; }

.toggle-switch-us {
  background-image: url(assets/toggle-off-us.svg); }
  .toggle-switch-us:checked {
    background-image: url(assets/toggle-on-us.svg); }

.toggle-switch-intl {
  background-image: url(assets/toggle-off-intl.svg); }
  .toggle-switch-intl:checked {
    background-image: url(assets/toggle-on-intl.svg); }

.nm-menu-item-icons {
  spacing: .5em;
  icon-size: 1.14em; }

.menu-favorites-box {
  padding: 0.8em;
  border: 1px solid rgba(229, 229, 229, 0.22);
  border-radius: 10px;
  transition-duration: 150;
  spacing: 1em; }

.menu-favorites-scrollbox {
  padding-bottom: 1em;
  border-bottom: 1px solid;
  border-color: rgba(229, 229, 229, 0.22); }
  .menu-favorites-scrollbox.vfade {
    -st-vfade-offset: 136px; }

.menu-favorites-button:hover {
  background-color: #3691ff;
  border-radius: 10px;
  color: #ffffff; }

.menu-categories-box {
  padding: 0.8em; }

.menu-applications-inner-box {
  padding: 0.8em;
  border-radius: 10px;
  border: 1px solid rgba(229, 229, 229, 0.22); }

.menu-applications-outer-box {
  padding: 0.8em;
  border: 1px solid rgba(229, 229, 229, 0.22);
  border-radius: 10px; }

.menu-application-button:highlighted {
  font-weight: bold; }

.menu-application-button-selected {
  background-color: #3691ff;
  border-radius: 10px;
  color: #ffffff; }
  .menu-application-button-selected:highlighted {
    font-weight: bold; }

.menu-category-button-greyed {
  color: #e5e5e5;
  font-style: italic; }

.menu-category-button-selected {
  background-color: #3691ff;
  border-radius: 10px;
  color: #ffffff; }

.menu-selected-app-box {
  padding: 2px 8px;
  text-align: right; }
  .menu-selected-app-box:rtl {
    text-align: left; }

.menu-selected-app-title {
  font-weight: bold;
  font-size: 0.8em; }

.menu-selected-app-description {
  max-width: 150px;
  font-size: 0.8em; }

.menu-search-box:ltr {
  padding-left: 30px;
  padding-bottom: 5px;
  padding-top: 5px; }

.menu-search-box:rtl {
  padding-right: 30px;
  padding-bottom: 5px;
  padding-top: 5px; }

#menu-search-entry {
  margin-bottom: 0.5em; }
  #menu-search-entry:focus {
    border: 1px solid #3782dc; }

.menu-search-entry-icon {
  icon-size: 1em;
  color: #e5e5e5; }

.menu-top-box {
  spacing: 10px; }

.menu-systembuttons-box {
  padding-bottom: 12px;
  padding-top: 12px;
  margin-bottom: 0.5em; }

#panel {
  color: #e5e5e5;
  height: 2.5em;
  width: 3.2em; }
  #panel:highlight {
    background-color: #3691ff; }

.panel-dummy {
  background-color: rgba(255, 0, 0, 0.6); }
  .panel-dummy:entered {
    background-color: rgba(0, 255, 0, 0.6); }

.panelLeft {
  spacing: 4px; }
  .panelLeft:dnd {
    background-color: rgba(255, 0, 0, 0.6); }
  .panelLeft:ltr {
    padding-right: 4px; }
  .panelLeft:rtl {
    padding-left: 4px; }
  .panelLeft.vertical {
    padding: 0; }

.panelCenter {
  spacing: 4px; }
  .panelCenter:dnd {
    background-color: rgba(0, 255, 0, 0.6); }
  .panelCenter.vertical {
    padding-left: 0;
    padding-right: 0; }

.panelRight {
  spacing: 4px; }
  .panelRight:dnd {
    background-color: rgba(0, 0, 255, 0.6); }
  .panelRight:ltr {
    padding-left: 0;
    spacing: 0; }
  .panelRight:rtl {
    padding-right: 0;
    spacing: 0; }
  .panelRight.vertical {
    padding: 0; }

.panel-top {
  box-shadow: 0 -1px 0 0 #a1a2a3 inset; }
  .panel-top .window-list-item-box {
    margin-bottom: 1px; }
  .panel-top .grouped-window-list-item-box:active, .panel-top .grouped-window-list-item-box:checked {
    box-shadow: 0 2px 0 0 #e5e5e5 inset; }
  .panel-top .grouped-window-list-item-box:hover {
    box-shadow: 0 2px 0 0 #3782dc inset; }
  .panel-top .grouped-window-list-item-box:focus {
    box-shadow: 0 4px 0 0 #3782dc inset; }
  .panel-top .workspace-switcher, .panel-top .workspace-graph {
    padding: 1px 3px; }
  .panel-top .panel-launchers .launcher:hover {
    box-shadow: 0 2px 0 0 #3782dc inset; }
  .panel-top .applet-separator {
    padding: 3px 3px; }

.panel-bottom {
  box-shadow: 0 1px 0 0 #a1a2a3 inset; }
  .panel-bottom .window-list-item-box {
    margin-top: 1px; }
  .panel-bottom .grouped-window-list-item-box:active, .panel-bottom .grouped-window-list-item-box:checked {
    box-shadow: 0 -2px 0 0 #e5e5e5 inset; }
  .panel-bottom .grouped-window-list-item-box:hover {
    box-shadow: 0 -2px 0 0 #3782dc inset; }
  .panel-bottom .grouped-window-list-item-box:focus {
    box-shadow: 0 -4px 0 0 #3782dc inset; }
  .panel-bottom .workspace-switcher, .panel-bottom .workspace-graph {
    padding: 1px 3px; }
  .panel-bottom .panel-launchers .launcher:hover {
    box-shadow: 0 -2px 0 0 #3782dc inset; }
  .panel-bottom .applet-separator {
    padding: 3px 3px; }

.panel-left {
  box-shadow: -1px 0 0 0 #a1a2a3 inset; }
  .panel-left .window-list-item-box {
    margin-right: 1px; }
  .panel-left .grouped-window-list-item-box:active, .panel-left .grouped-window-list-item-box:checked {
    box-shadow: 2px 0 0 0 #e5e5e5 inset; }
  .panel-left .grouped-window-list-item-box:hover {
    box-shadow: 2px 0 0 0 #3782dc inset; }
  .panel-left .grouped-window-list-item-box:focus {
    box-shadow: 4px 0 0 0 #3782dc inset; }
  .panel-left .workspace-switcher, .panel-left .workspace-graph {
    padding: 3px 1px; }
  .panel-left .panel-launchers .launcher:hover {
    box-shadow: 2px 0 0 0 #3782dc inset; }
  .panel-left .applet-separator {
    padding: 3px 3px; }

.panel-right {
  box-shadow: 1px 0 0 0 #a1a2a3 inset; }
  .panel-right .window-list-item-box {
    margin-left: 1px; }
  .panel-right .grouped-window-list-item-box:active, .panel-right .grouped-window-list-item-box:checked {
    box-shadow: -2px 0 0 0 #e5e5e5 inset; }
  .panel-right .grouped-window-list-item-box:hover {
    box-shadow: -2px 0 0 0 #3782dc inset; }
  .panel-right .grouped-window-list-item-box:focus {
    box-shadow: -4px 0 0 0 #3782dc inset; }
  .panel-right .workspace-switcher, .panel-right .workspace-graph {
    padding: 3px 1px; }
  .panel-right .panel-launchers .launcher:hover {
    box-shadow: -2px 0 0 0 #3782dc inset; }
  .panel-right .applet-separator {
    padding: 3px 3px; }

.applet-separator-line {
  width: 2px;
  background: #3691ff; }

.applet-separator-line-vertical {
  border-color: #3691ff;
  border-bottom: 2px solid; }

.applet-spacer:highlight {
  background-color: #3691ff; }

.applet-box {
  color: #e5e5e5;
  transition-duration: 150;
  border-radius: 10px;
  padding: 0 3px; }
  .applet-box.vertical {
    padding: 3px 0; }
  .applet-box:checked {
    color: #3691ff; }
    .applet-box:checked .applet-label {
      color: #3691ff; }
  .applet-box:hover {
    color: #3691ff; }
    .applet-box:hover .applet-label {
      color: #3691ff; }
  .applet-box:highlight {
    background-color: #3691ff;
    color: #ffffff; }
    .applet-box:highlight .applet-label {
      color: #ffffff; }

.applet-label {
  font-weight: bold;
  color: #e5e5e5;
  padding-left: 3px; }

.applet-icon {
  color: #e5e5e5;
  padding: 0;
  spacing: 0;
  icon-size: 22px; }

.system-status-icon {
  icon-size: 1.14em;
  padding: 0;
  spacing: 0; }
  .system-status-icon.warning {
    color: #f6be48; }
  .system-status-icon.error {
    color: #fc4a6d; }

.panel-status-button {
  -natural-hpadding: 4px;
  -minimum-hpadding: 4px;
  font-weight: bold;
  color: #e5e5e5; }
  .panel-status-button:hover {
    color: #3691ff; }

.user-box {
  padding: 0.4em 1.3em;
  spacing: 10px; }

.user-icon {
  padding: 4px;
  border: none; }

.user-label {
  color: #e5e5e5;
  font-weight: bold;
  font-size: 1em; }

.window-list-box {
  spacing: 3px;
  padding: 1px 3px;
  font-size: 0.9em;
  border-radius: 10px; }
  .window-list-box.vertical {
    spacing: 3px;
    padding: 3px 1px; }
  .window-list-box:highlight {
    background-color: #3691ff; }

.window-list-item-box {
  border: 1px solid rgba(229, 229, 229, 0.22);
  border-radius: 10px;
  transition-duration: 150; }
  .window-list-item-box:hover {
    border: 1px solid #3782dc; }
  .window-list-item-box.top StLabel, .window-list-item-box.bottom StLabel {
    padding-left: 3px; }
  .window-list-item-box .progress {
    background-color: #37bd58;
    border: 1px solid #3782dc;
    border-radius: 10px;
    color: #3b3e3f; }
  .window-list-item-box #appMenuIcon {
    padding-right: 0.2em; }

.window-list-item-demands-attention {
  background-color: #199ffd;
  color: #3b3e3f; }

.window-list-preview {
  border-radius: 10px;
  border: 1px solid #a1a2a3;
  padding: 6px 12px;
  spacing: 3px;
  color: #e5e5e5; }

.grouped-window-list-thumbnail-label {
  padding-left: 3px; }

.grouped-window-list-number-label {
  z-index: 99;
  font-size: 0.8em;
  color: #e5e5e5; }

.grouped-window-list-button-label {
  padding: 0; }

.grouped-window-list-badge {
  border-radius: 256px;
  background-color: #3b3e3f; }

.grouped-window-list-thumbnail-alert {
  background: #f6be48; }

.grouped-window-list-item-box {
  transition-duration: 150;
  spacing: 1em;
  background-color: rgba(0, 0, 0, 0.01); }
  .grouped-window-list-item-box:hover, .grouped-window-list-item-box:focus {
    color: #3691ff; }
  .grouped-window-list-item-box:focus {
    font-weight: bold; }
  .grouped-window-list-item-box .progress {
    background-color: #37bd58; }

.grouped-window-list-demands-attention {
  background-color: #199ffd;
  color: #3b3e3f; }

.grouped-window-list-thumbnail-menu {
  border-radius: 10px;
  padding: 10px 15px;
  spacing: 3px;
  color: #e5e5e5; }
  .grouped-window-list-thumbnail-menu .item-box {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(229, 229, 229, 0.22); }
    .grouped-window-list-thumbnail-menu .item-box:outlined {
      border: 1px solid #3782dc; }
    .grouped-window-list-thumbnail-menu .item-box:selected {
      background-color: #3691ff;
      border: 1px solid #3782dc;
      color: #ffffff; }
  .grouped-window-list-thumbnail-menu .thumbnail-box {
    padding: 2px;
    spacing: 3px; }
  .grouped-window-list-thumbnail-menu .thumbnail {
    width: 256px; }
  .grouped-window-list-thumbnail-menu .separator {
    width: 1px;
    background: #3691ff; }

.sound-player StButton {
  min-width: 2em;
  min-height: 2em;
  padding: 5px;
  color: #ffffff;
  border-radius: 10px; }
  .sound-player StButton:small {
    min-width: 1.5em;
    min-height: 1.5em;
    padding: 3px; }
    .sound-player StButton:small StIcon {
      icon-size: 1em; }
  .sound-player StButton StIcon {
    icon-size: 1.5em; }
  .sound-player StButton:focus {
    color: #ffffff; }

.sound-player .slider {
  height: 4px; }

.sound-player StBoxLayout {
  spacing: 0.5em; }

.sound-player > StBoxLayout {
  padding: 5px; }

.sound-player-generic-coverart {
  background: rgba(0, 0, 0, 0.2); }

.sound-player-overlay {
  min-width: 300px;
  padding: 12px 16px;
  spacing: 0.5em;
  color: #e5e5e5; }

.workspace-button {
  width: 2em;
  height: 1em;
  color: #e5e5e5;
  border: 1px solid rgba(229, 229, 229, 0.22);
  margin: 2px;
  transition-duration: 150; }
  .workspace-button.vertical {
    height: 1.5em; }
  .workspace-button:outlined {
    background-color: #3691ff;
    color: #ffffff;
    border-color: #3782dc; }

.workspace-graph .workspace {
  border: 1px solid rgba(229, 229, 229, 0.22); }
  .workspace-graph .workspace:active {
    border: 1px solid rgba(229, 229, 229, 0.22); }
    .workspace-graph .workspace:active .windows {
      -active-window-background: rgba(255, 255, 255, 0.8);
      -active-window-border: rgba(0, 0, 0, 0.9);
      -inactive-window-background: rgba(140, 140, 140, 0.8);
      -inactive-window-border: rgba(0, 0, 0, 0.7); }
  .workspace-graph .workspace .windows {
    -active-window-background: rgba(140, 140, 140, 0.8);
    -active-window-border: rgba(0, 0, 0, 0.7);
    -inactive-window-background: rgba(140, 140, 140, 0.8);
    -inactive-window-border: rgba(0, 0, 0, 0.7); }

.panel-launchers {
  padding: 0 3px;
  spacing: 3px; }
  .panel-launchers .launcher {
    background-color: rgba(0, 0, 0, 0.01); }
  .panel-launchers.vertical {
    padding: 3px 0; }

.notification-applet-padding {
  padding: .5em 1em; }

.notification-applet-container {
  max-height: 100px; }

.systray {
  spacing: 3px; }

.flashspot {
  background-color: #3691ff; }

.calendar {
  padding: 1em 1.75em;
  spacing-rows: 1px;
  spacing-columns: 5px; }

.calendar-month-label {
  color: #e5e5e5;
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center; }

.calendar-change-month-back {
  border: 1px solid transparent;
  background-image: url(assets/calendar-arrow-left.svg); }
  .calendar-change-month-back:rtl {
    background-image: url(assets/calendar-arrow-right.svg); }
  .calendar-change-month-back:hover {
    border: 1px solid #3691ff; }
  .calendar-change-month-back:active {
    background-color: #3691ff; }

.calendar-change-month-forward {
  border: 1px solid transparent;
  background-image: url(assets/calendar-arrow-right.svg); }
  .calendar-change-month-forward:rtl {
    background-image: url(assets/calendar-arrow-left.svg); }
  .calendar-change-month-forward:hover {
    border: 1px solid #3691ff; }
  .calendar-change-month-forward:active {
    background-color: #3691ff; }

.datemenu-date-label {
  padding: 1em 1.75em;
  color: #e5e5e5;
  font-weight: bold;
  text-align: center; }

.calendar-day-base {
  font-size: 0.8em;
  text-align: center;
  width: 2.4em;
  height: 1.8em;
  border-radius: 10px; }
  .calendar-day-base:active {
    background-color: #3691ff; }

.calendar-day-heading {
  color: #e5e5e5;
  padding-top: 0.9em; }

.calendar-week-number {
  color: #e5e5e5;
  font-weight: bold;
  padding-top: 0.6em; }

.calendar-day:ltr {
  color: #e5e5e5;
  padding: 2px; }

.calendar-day:rtl {
  color: #e5e5e5;
  padding: 3px; }

.calendar-nonwork-day {
  font-weight: bold; }

.calendar-today {
  font-weight: bold; }
  .calendar-today:active {
    color: #ffffff; }

.calendar-other-month-day {
  font-style: italic; }

.calendar-day-with-events {
  background-color: #3691ff;
  font-weight: bold; }
  .calendar-day-with-events:active {
    color: #ffffff; }

#keyboard {
  background-color: rgba(59, 62, 63, 0.5); }

.keyboard-key:grayed {
  color: #ffffff;
  border-color: #ffffff; }

.keyboard-key:checked {
  border-color: #3782dc; }

.keyboard-layout {
  spacing: 8px;
  padding: 8px; }

.keyboard-row {
  spacing: 16px; }

.keyboard-subkeys {
  color: #e5e5e5;
  padding: 4px;
  -arrow-border-radius: 10px;
  -arrow-background-color: #3b3e3f;
  -arrow-border-width: 1px;
  -arrow-border-color: #e5e5e5;
  -arrow-base: 16px;
  -arrow-rise: 8px;
  -boxpointer-gap: 4px; }

.magnifier-zoom-region {
  border: 3px solid #a1a2a3; }
  .magnifier-zoom-region.full-screen {
    border-width: 0; }

#notification {
  border-radius: 10px;
  border: 1px solid #a1a2a3;
  padding: 8px;
  spacing-rows: 5px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 20px;
  width: 34em;
  color: #e5e5e5; }
  #notification.multi-line-notification {
    padding-bottom: 8px;
    color: #e5e5e5; }
  #notification StEntry:focus {
    border: 1px solid #3782dc; }
  #notification .url-highlighter {
    link-color: #285bff; }

.notification-with-image {
  min-height: 159px;
  color: #e5e5e5; }

#notification-scrollview {
  max-height: 10em; }
  #notification-scrollview > .top-shadow {
    height: 1em; }
  #notification-scrollview > .bottom-shadow {
    height: 1em; }
  #notification-scrollview:ltr > StScrollBar {
    padding-left: 6px; }
  #notification-scrollview:rtl > StScrollBar {
    padding-right: 6px; }

#notification-body {
  spacing: 4px; }

#notification-actions {
  spacing: 8px; }

.notification-button {
  border-radius: 10px;
  min-width: 5em;
  min-height: 1em;
  padding: 5px; }
  .notification-button:focus {
    color: #ffffff; }

.notification-icon-button {
  border-radius: 10px;
  min-width: 2em;
  min-height: 2em;
  padding: 5px; }
  .notification-icon-button:focus {
    color: #ffffff; }
  .notification-icon-button > StIcon {
    icon-size: 1.5em; }

.modal-dialog {
  border: 1px solid #a1a2a3;
  border-radius: 10px;
  color: #e5e5e5;
  padding: 16px 20px; }

.modal-dialog-button-box {
  spacing: 16px; }

.modal-dialog-button {
  min-width: 5em;
  min-height: 1em;
  padding: 5px; }
  .modal-dialog-button:focus {
    color: #ffffff; }
  .modal-dialog-button:disabled {
    color: #3c3c3c; }

.run-dialog-label {
  color: #e5e5e5;
  padding-bottom: 10px; }

.run-dialog-error-label {
  color: #3691ff; }

.run-dialog-error-box {
  padding-top: 15px;
  spacing: 5px; }

.run-dialog-completion-box {
  padding-left: 15px; }

.run-dialog-entry:focus {
  border: 1px solid #3782dc; }

.run-dialog {
  border-radius: 10px;
  padding: 16px 20px; }

.cinnamon-mount-operation-icon {
  icon-size: 4.8em; }

.mount-password-reask {
  color: #f6be48; }

.show-processes-dialog {
  spacing: 24px; }

.mount-question-dialog {
  spacing: 24px; }

.show-processes-dialog-description:rtl {
  padding-right: 17px; }

.mount-question-dialog-description:rtl {
  padding-right: 17px; }

.show-processes-dialog-app-list {
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px; }
  .show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px; }

.show-processes-dialog-app-list-item {
  color: #e5e5e5; }
  .show-processes-dialog-app-list-item:hover {
    color: #e5e5e5; }
  .show-processes-dialog-app-list-item:ltr {
    padding-right: 1em; }
  .show-processes-dialog-app-list-item:rtl {
    padding-left: 1em; }

.show-processes-dialog-app-list-item-icon:ltr {
  padding-right: 17px; }

.show-processes-dialog-app-list-item-icon:rtl {
  padding-left: 17px; }

.osd-window {
  spacing: 1em;
  padding: 16px; }
  .osd-window .level {
    height: 0.7em;
    border-radius: 0.3em;
    background-color: #2f3132; }
  .osd-window .level-bar {
    border-radius: 0.3em;
    background-color: #3780d9; }

.info-osd, .workspace-osd, .overview-empty-placeholder {
  font-size: 1.5em;
  text-align: center;
  padding: 8px 10px; }

.lightbox {
  background-color: rgba(59, 62, 63, 0.5); }

.about-content {
  min-width: 250px;
  min-height: 150px;
  spacing: 8px;
  padding-bottom: 16px; }

.about-title {
  font-size: 1.4em;
  font-weight: bold; }

.about-uuid {
  font-size: 0.8em; }

.about-icon {
  padding-right: 20px; }

.about-scrollBox {
  border: 1px solid #a1a2a3;
  border-radius: 10px; }

.about-scrollBox-innerBox {
  padding: 1.2em;
  spacing: 1.2em; }

.about-description {
  padding-top: 4px; }

.about-version {
  padding-left: 7px; }

#LookingGlassDialog {
  spacing: 4px;
  padding: 8px;
  border: 1px solid #a1a2a3;
  border-radius: 10px;
  color: #e5e5e5; }

.desklet {
  font-size: 0.9em;
  padding: 8px;
  color: #e5e5e5;
  border-radius: 10px;
  background-color: rgba(59, 62, 63, 0.5); }
  .desklet:highlight {
    background-color: #3691ff; }

.desklet-with-borders {
  font-size: 0.9em;
  border-radius: 10px; }
  .desklet-with-borders:highlight {
    background-color: #3691ff; }

.desklet-with-borders-and-header {
  font-size: 0.9em;
  border-radius-bottomleft: 10px;
  border-radius-bottomright: 10px; }
  .desklet-with-borders-and-header:highlight {
    background-color: #3691ff; }

.desklet-header {
  font-size: 1.2em;
  border-radius-topleft: 10px;
  border-radius-topright: 10px; }
  .desklet-header:highlight {
    background-color: #3691ff; }

.photoframe-box {
  border-radius: 10px; }
  .photoframe-box:highlight {
    background-color: #3691ff; }

.desklet-drag-placeholder {
  border: 2px solid #3691ff;
  background-color: rgba(59, 62, 63, 0.5);
  border-radius: 10px; }

.launcher {
  padding: 1px;
  transition-duration: 150; }
  .launcher .icon-box {
    padding-top: 2px; }

#altTabPopup {
  padding: 8px;
  spacing: 16px; }

.switcher-list {
  border-radius: 10px;
  border: 1px solid #a1a2a3;
  padding: 16px;
  color: #e5e5e5; }
  .switcher-list .item-box {
    padding: 8px;
    border-radius: 10px; }
    .switcher-list .item-box:selected {
      color: #ffffff; }
  .switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
    color: #e5e5e5; }
  .switcher-list .thumbnail {
    min-width: 20em; }
  .switcher-list .separator {
    width: 1px;
    background-color: #3691ff; }

.switcher-list-item-container {
  spacing: 8px; }

.thumbnail-scroll-gradient-left {
  background-gradient-direction: horizontal;
  background-gradient-start: #333333;
  background-gradient-end: rgba(51, 51, 51, 0);
  border-radius: 10px;
  border-radius-topright: 0;
  border-radius-bottomright: 0;
  width: 60px; }

.thumbnail-scroll-gradient-right {
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(51, 51, 51, 0);
  background-gradient-end: #333333;
  border-radius: 10px;
  border-radius-topleft: 0;
  border-radius-bottomleft: 0;
  width: 60px; }

.switcher-arrow {
  border-color: rgba(0, 0, 0, 0);
  color: #e5e5e5; }
  .switcher-arrow:highlighted {
    border-color: rgba(0, 0, 0, 0);
    color: #ffffff; }

.switcher-preview-backdrop {
  background-color: rgba(25, 25, 25, 0.65); }

#overview {
  spacing: 12px; }

.workspace-thumbnails {
  spacing: 14px; }

.workspace-add-button {
  background-image: url(assets/add-workspace.png);
  height: 200px;
  width: 35px;
  border-radius-topleft: 10px;
  border-radius-bottomleft: 10px;
  transition-duration: 150;
  background-color: #199ffd;
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.22); }
  .workspace-add-button:hover {
    background-image: url(assets/add-workspace-hover.png);
    border-color: #3782dc; }
  .workspace-add-button:active {
    background-image: url(assets/add-workspace.png);
    border-color: #3782dc;
    background-color: #37bd58; }

.workspace-close-button {
  background-image: url(assets/close-window.svg);
  height: 32px;
  width: 32px;
  -cinnamon-close-overlap: 20px; }

.workspace-overview-background-shade {
  background-color: rgba(59, 62, 63, 0.5); }

.window-caption {
  padding: 4px 6px;
  border: 1px solid #a1a2a3;
  border-radius: 10px;
  color: #e5e5e5;
  -cinnamon-caption-spacing: 4px; }
  .window-caption:focus, .window-caption#selected {
    color: #ffffff;
    border: 1px solid #3782dc; }

.window-border {
  border: 1px solid #3782dc; }

.window-close {
  background-image: url(assets/close-window.svg);
  height: 32px;
  width: 32px;
  -cinnamon-close-overlap: 20px; }
  .window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); }

.window-close-area {
  background-image: url(assets/trash-icon.png);
  background-size: 100px;
  background-color: rgba(59, 62, 63, 0.5);
  border: 1px solid #a1a2a3;
  border-bottom-width: 0;
  border-radius: 20px 20px 0 0;
  height: 120px;
  width: 400px; }

.expo-workspace-thumbnail-frame {
  border: 1px solid #a1a2a3; }
  .expo-workspace-thumbnail-frame#active {
    border: 1px solid #3782dc; }

.expo-workspaces-name-entry {
  padding: 4px 6px;
  height: 1.5em;
  border: 1px solid #a1a2a3;
  border-radius: 10px;
  selected-color: #ffffff;
  selection-background-color: #3691ff;
  color: #e5e5e5;
  text-align: center; }
  .expo-workspaces-name-entry#selected {
    color: #ffffff;
    selected-color: #e5e5e5;
    selection-background-color: #3691ff;
    border: 1px solid #3782dc; }
  .expo-workspaces-name-entry:focus {
    border: 1px solid #3782dc; }
  .expo-workspaces-name-entry:hover {
    border: 1px solid #3782dc; }

.ripple-box {
  width: 104px;
  height: 104px;
  background-image: url(assets/corner-ripple.png);
  background-color: #3691ff;
  border-radius: 52px; }

.tile-hud:top {
  border-top-width: 0;
  border-radius: 0 0 10px 10px; }

.tile-hud:bottom {
  border-bottom-width: 0;
  border-radius: 10px 10px 0 0; }

.tile-hud:left {
  border-left-width: 0;
  border-radius: 0 10px 10px 0; }

.tile-hud:right {
  border-right-width: 0;
  border-radius: 10px 0 0 10px; }

.tile-hud:top-left {
  border-top-width: 0;
  border-left-width: 0;
  border-radius: 0 0 10px 0; }

.tile-hud:top-right {
  border-top-width: 0;
  border-right-width: 0;
  border-radius: 0 0 0 10px; }

.tile-hud:bottom-left {
  border-bottom-width: 0;
  border-left-width: 0;
  border-radius: 0 10px 0 0; }

.tile-hud:bottom-right {
  border-bottom-width: 0;
  border-right-width: 0;
  border-radius: 10px 0 0 0; }
